<a href="https://colab.research.google.com/github/2303A51762abhishek/datascience_1762/blob/main/Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("sales_data.csv")
print("Loaded Sales Dataset:")
print(df)

# Check for duplicates
duplicate_count = df.duplicated().sum()
print("\nNumber of duplicate rows:", duplicate_count)

# Remove duplicates
df_cleaned = df.drop_duplicates()

# Save cleaned dataset
df_cleaned.to_csv("sales_data_cleaned.csv", index=False)

print("\nCleaned Dataset (duplicates removed):")
print(df_cleaned)
print("\nNumber of duplicate rows after cleaning:", df_cleaned.duplicated().sum())

Loaded Sales Dataset:
   Invoice_No  Customer_Name     Product  Quantity  Price   Total
0        1001       John Doe      Laptop       2.0  500.0     NaN
1        1002     Jane Smith      Mobile       1.0  300.0   300.0
2        1003       Mark Lee      Tablet       NaN  250.0     NaN
3        1004    Emily Davis  Headphones       3.0    NaN   150.0
4        1005  Chris Johnson     Monitor       5.0  200.0  1000.0
5        1006    Sarah Brown         NaN       2.0  400.0     NaN
6        1007   David Wilson     Printer       4.0  150.0   600.0
7        1008    Laura White     Desktop      10.0    NaN  5000.0
8        1009   James Miller    Keyboard      15.0   50.0     NaN
9        1010   Linda Taylor      Camera       1.0  800.0     NaN

Number of duplicate rows: 0

Cleaned Dataset (duplicates removed):
   Invoice_No  Customer_Name     Product  Quantity  Price   Total
0        1001       John Doe      Laptop       2.0  500.0     NaN
1        1002     Jane Smith      Mobile       1.0  300.0   300.0
2        1003       Mark Lee      Tablet       NaN  250.0     NaN
3        1004    Emily Davis  Headphones       3.0    NaN   150.0
4        1005  Chris Johnson     Monitor       5.0  200.0  1000.0
5        1006    Sarah Brown         NaN       2.0  400.0     NaN
6        1007   David Wilson     Printer       4.0  150.0   600.0
7        1008    Laura White     Desktop      10.0    NaN  5000.0
8        1009   James Miller    Keyboard      15.0   50.0     NaN
9        1010   Linda Taylor      Camera       1.0  800.0     NaN

Number of duplicate rows after cleaning: 0

In [ ]:
import pandas as pd

# -----------------------------
# Step 1: Load Employee Dataset
# -----------------------------
df = pd.read_csv("employee_data.csv")

print("Original Dataset (with incorrect data types):")
print(df.dtypes)
print(df)

# -----------------------------
# Step 2: Convert Data Types
# -----------------------------
# Convert Salary to numeric
df["Salary"] = pd.to_numeric(df["Salary"])

# Convert Joining_Date to datetime
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])

print("\nDataset after type conversion:")
print(df.dtypes)
print(df)

# -----------------------------
# Step 3: Discussion
# -----------------------------
print("\nDiscussion:")
print("Correct data types are crucial because:")
print("- Salary must be numeric to perform calculations (e.g., mean, max, sum).")
print("- Joining_Date must be datetime to calculate tenure, filter by year/month, etc.")
print("- If stored as string, these columns may cause errors, incorrect analysis, or inefficient processing.")

Original Dataset (with incorrect data types):
Employee_ID      int64
Name            object
Department      object
Salary           int64
Joining_Date    object
dtype: object
   Employee_ID     Name Department  Salary Joining_Date
0            1    Alice         HR   50000   2021-05-10
1            2      Bob         IT   60000   2020-03-15
2            3  Charlie    Finance   55000   2019-07-01
3            4    David         IT   70000   2022-01-20
4            5      Eva  Marketing   65000   2021-11-11

Dataset after type conversion:
Employee_ID              int64
Name                    object
Department              object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object
   Employee_ID     Name Department  Salary Joining_Date
0            1    Alice         HR   50000   2021-05-10
1            2      Bob         IT   60000   2020-03-15
2            3  Charlie    Finance   55000   2019-07-01
3            4    David         IT   70000   2022-01-20
4            5      Eva  Marketing   65000   2021-11-11

Discussion:
Correct data types are crucial because:
- Salary must be numeric to perform calculations (e.g., mean, max, sum).
- Joining_Date must be datetime to calculate tenure, filter by year/month, etc.
- If stored as string, these columns may cause errors, incorrect analysis, or inefficient processing.